:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(209, 220, 217, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #dedfec;
  text-decoration: inherit;
}
a:hover {
  color: #d6d7ea;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color:#1a1a1a;
}
button:hover {
  border-color: #f2f2fe;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  float: left;
}

.headline {
  min-width: 500px;
}

.header {
  place-items: top center;
  display: inline-block;
}

.connectWallet {
  float: 'right';
  height: '50px';
  display: 'inline-block';
}

@media (prefers-color-scheme: light) {
  :root {
    color: #c8d0d7;
    background-color: #150c0c;
  }
  a:hover {
    color: #d5d6ea;
  }
  button {
    background-color: #a84141;
  }
}
